@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasUnicaPro-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/NeueHaasUnicaPro-Light.otf')  format('opentype'),
	     url('../fonts/NeueHaasUnicaPro-Light.woff') format('woff'), url('../fonts/NeueHaasUnicaPro-Light.ttf')  format('truetype'), url('../fonts/NeueHaasUnicaPro-Light.svg#NeueHaasUnicaPro-Light') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../fonts/NeueHaasUnicaPro-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/NeueHaasUnicaPro-Medium.otf')  format('opentype'),
	     url('../fonts/NeueHaasUnicaPro-Medium.woff') format('woff'), url('../fonts/NeueHaasUnicaPro-Medium.ttf')  format('truetype'), url('../fonts/NeueHaasUnicaPro-Medium.svg#NeueHaasUnicaPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
}

html, body {
  /*-webkit-font-smoothing: antialiased;*/
  /*-moz-osx-font-smoothing: grayscale;*/
  background: #fff;
  color: #424242;
  height: 100%;
  font-family: 'NeueHaas';
  font-weight: 400;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1, "dlig" 1;
  -moz-font-feature-settings: "kern" 1, "dlig" 1;
  padding: 0;
  margin: 0;
}
