@font-face {
	font-family: 'Sailec';
	src: url('typefaces/sailec-webfont.eot');
	src: url('typefaces/sailec-webfont.eot?#iefix') format('embedded-opentype'),
		 url('typefaces/sailec-webfont.woff') format('woff'),
		 url('typefaces/sailec-webfont.ttf') format('truetype'),
		 url('typefaces/sailec-webfont.svg#sailecregular') format('svg');
	font-weight: 400;
	font-style: normal;

}

@font-face {
	font-family: 'Sailec';
	src: url('typefaces/sailec_thin-webfont.eot');
	src: url('typefaces/sailec_thin-webfont.eot?#iefix') format('embedded-opentype'),
		 url('typefaces/sailec_thin-webfont.woff') format('woff'),
		 url('typefaces/sailec_thin-webfont.ttf') format('truetype'),
		 url('typefaces/sailec_thin-webfont.svg#sailecthin') format('svg');
	font-weight: 300;
	font-style: normal;

}

@font-face {
	font-family: 'Sailec';
	src: url('typefaces/sailec_medium-webfont.eot');
	src: url('typefaces/sailec_medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('typefaces/sailec_medium-webfont.woff') format('woff'),
		 url('typefaces/sailec_medium-webfont.ttf') format('truetype'),
		 url('typefaces/sailec_medium-webfont.svg#sailecthin') format('svg');
	font-weight: 500;
	font-style: normal;

}